.admin {

    &__title {
        text-align: center;
        margin: 15px 0;
    }

    &-articles-card {
        margin: 30px;
        width: 97%;
        background-color: #cccccc;
        padding: 20px;

    }
}